
* {
	padding: 0px;
	border: none;
	margin: 0px;
	font-family: "Helvetica";
	font-size: 15px;
}

body {
	background-color: #EEE;
}

.board {
	margin-top: calc( (100vh - 19*50px)/2);
	margin-left: 20vw;
}

.board-row {
	display: flex;
	flex-direction: row;
}

.board-black,
.board-white,
.board-empty {
	height: 5vh;
	max-height: 50px;
	width: 5vh;
	max-width: 50px;
	position: relative;
}

.board-empty img {
	width: 4px;
	height: 4px;
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}


/*	BOARD PIECES	*/

.board-white img,
.board-black img {
	width: 70%;
	height: 70%;
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}


/*	SIDE MENU 	*/

.side-menu {
	height: 100vh;
	width: 25vw;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #DDD;
}


.score {
	margin-top: 65vh;
	height: auto;
	width: 100%;
	position: relative;
}

.player-score {
	display: flex;
	flex-direction: row;
	width: 60%;
	height: calc(60vh/12);
	background-color: #EEE;
	border-radius: 20px;
	padding: 10px 30px;
	margin-top: 20px;
	position: relative;
	margin-left: calc( (100% - 60%) /3);
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		    4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  	    	8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	    14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			 	      26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			        64px 66px 80px rgba(0, 0, 0, 0.07);
	transition: 0.2s;
}

.player-score img {
	height: 60%;
	margin-top: 5%;
	object-fit: cover;
}

.player-score p {
	height: 30px;
	margin-top: 23px;
	margin-left : 20px;
	font-size: 17px;
}

.player-score__selected {
	background-color: transparent;
	box-shadow: none;
	transition: 0.2s;
}

.size-menu__time {
	width: 100px;
	text-align: center;
	margin: auto;
	font-size: 30px;
	margin-bottom: 30px;
}

